<div id="featured" class="hero-unit">
  <h1>Wages Made Easy.</h1>
  <br />
  <%= link_to 'Sign Up', sign_up_path, class: 'btn btn-success btn-large' %>
</div>

<div class="row">
  <div class="span4">
    <h2>Track Employees</h2>
    <p>This is the most awesome-est feature ever</p>
  </div>
  <div class="span4">
    <h2>Notifications</h2>
    <p>This is the most awesome-est feature ever</p>
  </div>
  <div class="span4">
    <h2>Reports</h2>
    <p>This is the most awesome-est feature ever</p>
  </div>
  <div class="span12">
    <h2>Secure</h2>
    <p>This is where the full lengh feature will go</p>
  </div>
</div>
