<h1>
  <%= @workgroup.name %> Workgroup 
  <span class="pull-right">
    <%= link_to 'Edit', edit_company_workgroup_path(current_company, @workgroup), class: 'btn btn-success' %>
  </span>
</h1>

<hr />

<p id="notice"><%= notice %></p>
