<div id="footer">
  <p>
    <%= link_to 'Privacy Policy', privacy_policy_path %> | 
    <%= link_to 'Terms', terms_path %> | 
    <a href="#" title="Contact">Contact Us</a>
  </p>
  <p>Copyright &copy 2012 Paisly. All rights reserved.</p>
</div>