<div id="nav" class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Paisly', root_path, class: 'brand' %>
      <ul class="nav">
        <li><%= link_to 'Features', features_path %></li>
        <li><%= link_to 'Pricing', pricing_path %></li>
        <li><a href="#" title="Blog">Blog</a></li>
        <li><a href="#" title="Support">Support</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#" title="Login" class="pull-right">Login</a></li>
      </ul>
    </div>
  </div>
</div>